###
# SSH
#
#.ssh/
.ssh.cgi/

###
# Vagrant 
#
.vagrant/

###
# Ansible 
#
.ansible/
.cache/
.ansible_galaxy
*.retry

###
# Use wildcards as well
#
*~
*.swp
*.vim/
*.viminfo

###
# Skip /tmp
# 
/tmp/*
